# --- Paramètres Django ---
DEBUG=1
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# --- Ports ---
WEB_PORT=8020
DB_PORT=5432

# --- Base de données PostgreSQL ---
DB_NAME=arrera_db
DB_USER=arrera_user
DB_PASSWORD=change_this_password
DB_HOST=db

# --- Superutilisateur Django initial ---
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=change_admin_password
